.statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 241px;
    background-color: #fff;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 80px;
}

.title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.stat_list{
    display: flex;
    justify-content: space-around;
  color:#fff;
}

.item{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

 .percentage {
    display: flex;
    margin-top: 8px;
}
