.statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 344px;
    background-color: #fff;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 80px;
}

.title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.title_none{
    display: none;
}

.stat_list{
    display: flex;
   
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}